
/* Main HTML */

body {
    margin: 0;
    padding: 0;
}

/* Nav style */

/* Header style */

/* content style */

/* footer style */

.page-footer {
    padding: 60px 25% 10px 25%;
}

/* kontaktivorm style */

/* login style */